<footer class="px-2 py-3 bg-gray-500 mt-3">
  <div
    class="container flex flex-wrap items-center justify-center mx-auto px-4"
  >
    <div class="text-base uppercase font-bold text-white">
      © 2020 DevNote by Nutti Saelor
    </div>
    <!-- <a
      class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75"
      href="#pablo"
    >
      <i
        class="fab fa-facebook-square text-lg leading-lg text-white opacity-75"
      ></i>
      <span class="ml-2">Facebook Page</span></a
    > -->
  </div>
</footer>
