/* include CSS for prism toolbar */
@import '~prismjs/plugins/toolbar/prism-toolbar.css';
@import '~prismjs/plugins/inline-color/prism-inline-color.css';
/* check node_modules/prismjs/themes/ for the available themes */
@import './prism-okaidia';

body {
  // font-family: 'Sarabun', sans-serif;
  font-family: 'Bai Jamjuree', sans-serif;
  // font-family: 'Prompt', sans-serif;
}

.content {
  h3,
  h4 {
    margin-top: 1.25em;
    font-weight: 600;
    line-height: 1.12;
    letter-spacing: -0.022em;
  }

  hr {
    font-size: 28px;
    margin-top: 30px;
    font-weight: 300;
    text-align: center;
    height: inherit;
    border: none;
  }

  hr::before {
    content: '. . .';
    line-height: 1.4;
    letter-spacing: 0.6;
  }

  p {
    margin-top: 0.86em;
    line-height: 1.58;
    word-break: break-word;
    font-style: normal;
    font-weight: 400;

    img {
      margin: auto;
    }

    a[title] {
      box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px,
        rgba(0, 0, 0, 0.1) 0px 0px 0px 1px inset;
      display: block;
      padding: 1rem;
    }
  }

  ul {
    padding: 0;
    list-style: none;
    list-style-image: none;

    li {
      margin-top: 1.05em;
      margin-left: 30px;
      list-style-type: disc;
    }
  }

  blockquote {
    margin-left: -10px;
    padding-left: 20px;
    margin-right: 0;
    box-shadow: inset 3px 0 0 0 rgba(0, 0, 0, 0.84);
  }

  figure {
    margin: 0;
    margin-top: 0.86em;
  }

  figcaption {
    font-weight: 300;
    font-size: 16px;
    font-style: italic;
    text-align: center;
    margin-top: 10px;
  }
}

@media (max-width: 551.98px) {
}

@media (max-width: 727.98px) {
  .content {
    font-size: 18px;

    h3 {
      font-size: 30px;
    }

    h4 {
      font-size: 28px;
    }
  }
}

@media (min-width: 728px) {
  .content {
    font-size: 21px;

    h3 {
      font-size: 34px;
    }

    h4 {
      font-size: 32px;
    }
  }
}
